.w-75 {
  min-width: 75px !important;
}

.w-100 {
  min-width: 100px !important;
}

.content {
  flex: 1; /* Permette al contenuto di espandersi per occupare lo spazio disponibile */
  max-width: 1200px;
}

.w-popup {
  width: 200px !important;
}

/** Card */
#card {
  border-radius: 20px !important;
}

.card {
  border: 0px solid var(--body-color) !important;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  background: var(--card-color) !important;
}
/** END Card */

/** Buttons */
#login-btn {
  margin: 50px;
  max-width: fit-content;
}

.btn-blue {
  width: 89%;
  min-height: 40px;
  --bs-btn-padding-y: 0.5rem !important;
  border-radius: 5px;
  background-color: var(--btn-color) !important;
  border: none !important; /* Rimuove eventuali bordi predefiniti */
  outline: none !important; /* Rimuove il contorno di focus */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-blue:hover {
  background-color: #cadfdf !important;
}

.btn-blue:active,
.btn-blue.active {
  background-color: var(--btn-touch-color) !important;
  outline: 3px solid var(--card-color) !important;
  box-shadow: 0 0 0 6px var(--btn-touch-color),
    /* Bordo esterno semitrasparente */ 0 0 8px rgba(0, 0, 0, 0.1); /* Ombra per profondità */
}

@media screen and (max-width: 992px) {
  .btn-blue {
    min-width: auto;
  }
}

@media screen and (max-width: 770px) {
  .btn-blue {
    min-width: 150px;
  }
}

/** END Buttons */

/** Inputs */
.form-control {
  background-color: #f0f6f6 !important; /* Colore di sfondo predefinito */
  border: 1px solid #d0e6e6 !important; /* Colore del bordo predefinito */
  transition: border-color 0.3s, background-color 0.3s; /* Transizioni per il colore */
  outline: none !important; /* Rimuove il contorno di focus predefinito */
}

.form-control:focus {
  border-color: #d0e6e6 !important; /* Colore del bordo al focus */
  background-color: #f0f6f6 !important; /* Colore di sfondo al focus */
  outline: none !important; /* Rimuove il contorno predefinito del browser */
}

.form-control:active {
  border-color: #d0e6e6 !important; /* Colore del bordo durante il clic */
  background-color: #f0f6f6 !important; /* Colore di sfondo durante il clic */
}

.form-control:focus {
  border-color: #d0e6e6 !important; /* Colore del bordo al focus */
  background-color: #f0f6f6 !important; /* Colore di sfondo al focus */
  box-shadow: 0 0 0 0.2rem rgba(208, 230, 230, 0.5) !important; /* Ombra con il colore del bordo */
}
/** END Inputs */

.separator {
  display: inline-block;
  vertical-align: middle;
  margin: 29px 0 26px;
  border-bottom: 1px solid #cecece;
  width: 100px;
}
