.w-75 {
  min-width: 75px !important;
}

.w-100 {
  min-width: 100px !important;
}

.content {
  flex: 1; /* Permette al contenuto di espandersi per occupare lo spazio disponibile */
  max-width: 1200px;
}

.w-popup {
  width: 200px !important;
}

/** Card */
#card {
  border-radius: 20px !important;
}

.card {
  border: 0px solid var(--body-color) !important;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  background: var(--card-color) !important;
}
/** END Card */

/** Buttons */
#login-btn {
  margin: 50px;
  max-width: fit-content;
}

.btn-blue {
  width: 89%;
}

@media screen and (max-width: 767px) {
  #card {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/** END Buttons */

.separator {
  display: inline-block;
  vertical-align: middle;
  margin: 29px 0 26px;
  border-bottom: 1px solid #cecece;
  width: 100px;
}

/** Spinner */
/* Style per il loader */
/* Variabili SCSS convertite in valori hardcoded */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/** END Spinner */
