.w-75 {
  min-width: 75px !important;
}

.w-100 {
  min-width: 100px !important;
}

.content {
  flex: 1; /* Permette al contenuto di espandersi per occupare lo spazio disponibile */
  max-width: 1200px;
}

.w-popup {
  width: 200px !important;
}

/** Card */
#card {
  border-radius: 20px !important;
}

.card {
  border: 0px solid var(--body-color) !important;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  background: var(--card-color) !important;
}
/** END Card */

/** Buttons */
#login-btn {
  margin: 50px;
  max-width: fit-content;
}

.btn-blue {
  width: 89%;
}

@media screen and (max-width: 767px) {
  #card {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/** END Buttons */

.separator {
  display: inline-block;
  vertical-align: middle;
  margin: 29px 0 26px;
  border-bottom: 1px solid #cecece;
  width: 100px;
}
